.chatcontactli {

}

.chatcontactdiv {
    padding-left: 8px;
    position: relative;
}

/* Have left out the anchor but looks like it is inherited but sub elements */
.chatcontactanchor {
    color: #333;
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 4px 0;
    position: relative;
}

.chatinnercontactdiv {
    float: left;
    height: 32px;
    position: relative;
    width: 32px;
}

/* For the image of the contact that you are chatting with */
.chatimgcontactdiv {

}

.chatcontactimg {
    border: 0;
}
